# standard source checkout stuff
.magik-project
.project
config
data
doc
ds
images
log
modules
product.def
resources
source

# overrideable stuff
my_environment.yaml

# https://raw.github.com/github/gitignore/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim

# SCM stuff
.hgignore
.svn
DEPS
.gclient

# munit stuff
README.html
cpl-v10.html

# utrm stuff
customization_examples
build.properties
build.xml
run_sonar_analysis.bat
run_tests.bat
