# standard source checkout stuff
.magik-project
.project
Rakefile
config
data
doc
ds
images
log
modules
product.def
resources
source
scripts
products

project_environment.bat
environment.bat
smallworld_environment.bat

# overrideable stuff
my_project_environment.bat

# https://raw.github.com/github/gitignore/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim

# SCM stuff
.hgignore
.svn
DEPS
.gclient

# munit stuff
README.html
cpl-v10.html

# utrm stuff
customization_examples
run_sonar_analysis.bat

# generic project files
build_all.bat

# UTRM stuff
start_utrm.bat

# CDH stuff
sonar-project.properties
my_project_environment.bat.example
sonar-magik-plugin/
