# standard source checkout stuff
config
data
ds
images
log
modules
product.def
resources
source

# overrideable stuff
my_environment.yaml

# https://raw.github.com/github/gitignore/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim
